.AdditionalInformation{
    display: flex;
    font-size: 0.8rem;
}

.addInfoPers{
    width: 40%;
}

.addInfoSkills{
    width: 30%;
}

.addInfoHobbies{
    width: 30%;
}

.addInfoHobbies ul, .addInfoSkills ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}